*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { /*variables*/
  --bg-color: #9f80ff;
  --text-color: #000728;
  --primary-color: rgb(142, 50, 228);
  --primary-color-dark: rgb(198, 52, 255);
  --border-color: rgba(194, 88, 237);
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--text-color);
}

#B-red {
  background-color:  #fce4ed;
}

#B-darkRed {
  background-color: rgb(72, 0, 0);
}

#B-blue {
  background-color: #9f80ff;
}

#B-darkBlue {
  background-color:  #00082f;
}

.blue {
  --bg-color: #9f80ff;
  --text-color: #000728;
  --primary-color: rgb(142, 50, 228);
  --primary-color-dark: rgb(198, 52, 255);
  --border-color: rgba(194, 88, 237);
  transition: 0.8s;
}

.darkBlue {
  --bg-color: #00082f;
  --text-color: #fff;
  transition: 0.8s;
}

.darkBlue a{
  color: #fff;
  opacity: 0.7;
}

.red {
  --text-color: #1f000b;
  --bg-color: #fce4ed;
  --border-color: #d6336c;
  --primary-color-dark:rgb(255, 0, 76);
  --primary-color:  rgb(254, 44, 124);
  transition: 0.8s;
}

.darkRed {
  --bg-color: rgb(72, 0, 0);
  --border-color: rgb(252, 50, 50);
  --primary-color: rgb(255, 52, 82);
  --primary-color-dark: rgb(255, 22, 45);
  --text-color: #fff;
  transition: 0.8s;
}

img {
  width: 100%;
}

.container {
  text-align: center;
  width: 300px;
  max-width: 100%;
  margin: 60px auto;
}

.buttons-themes {
  max-width: 100%;
  margin: 15px 8% 0 auto;
  padding: 5px;
  text-align: end;
}

.themes {
  width: 30px;
  height: 3px;
  float: right;
  padding: 10px;
  margin: 0px 4px;
  border-radius: 6px;
  border: none;
}

.avatar-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 4px;
  box-shadow: 1px 0px 35px 0px white;
  border: var(--primary-color) solid 4px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 30px;
}

ul {
  list-style: none;
  margin: 50px 0;
}

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  box-shadow: 1px 0px 9px 1px rgb(229, 174, 249);
  border-radius: 10px;
}

a {
  text-decoration: none;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  margin-bottom: 15px;

  font-size: 15px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  color: #FFF;
  background: var(--primary-color);
  text-transform: uppercase;

  transition: all 0.3s;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer, footer a {
  opacity: 0.7;
  color: var(--text-color);
}